@font-face {
    font-family: 'Bohemian';
    src: url('BohemianRegular.eot');
    src: url('BohemianRegular.eot?#iefix') format('embedded-opentype'),
        url('BohemianRegular.woff2') format('woff2'),
        url('BohemianRegular.woff') format('woff'),
        url('BohemianRegular.ttf') format('truetype'),
        url('BohemianRegular.svg#BohemianRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

